<!DOCTYPE html>
<html>
<head>
<style>
.novaQuestao {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.novaQuestao:hover {background-color: #3e8e41}

.novaQuestao:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
</style>
</head>
<body>

<h2>Animated novaQuestao - "Pressed Effect"</h2>

<novaQuestao class="novaQuestao">Click Me</novaQuestao>

</body>
</html>


